body {
  background-color: #ffc;
}

p, h1, h2, h3, h4, h5 {
  text-indent: 1rem;
}

a {
  color: inherit;
}

a:visited {
  color: inherit;
}

h1:first-child:not([id]) {
  display: none;
}

blockquote {
  margin: 0;
  font-size: 0.85em;
  font-style: italic;
}

pre.highlight {
  padding-left: 1em;
}

code {
  font-family: normal;
}

ul {
  padding-left: 0.5em;
}

ul > li {
  list-style-type: none;
}

pre {
  font-family: inherit;
  font-style: italic;
  white-space: pre-wrap;
}

table {
  width: 100%;
}

@media (orientation: landscape) {
  table {
    width: 75%;
    margin-left: 12.5%;
  }
}

table th {
  width: 50%;
}

table th, table td {
  font-size: 0.9em;
  padding: 0.5em;
  vertical-align: top;
}

img {
  max-width: 75%;
}

img[alt="footnote"] {
  display: block;
  margin: 0 auto;
}

a {
  word-break: break-all;
}

h1 {
  text-align: center;
}

h1 a {
  text-decoration: none;
}

h6 { 
  text-align: center;
}
