body {
  text-align: justify;
  background-color: #ffc;
}

table {
  width: 100%;
}

@media (orientation: landscape) {
  table {
    width: 75%;
    margin-left: 12.5%;
  }
}

table th {
  width: 50%;
}

table th, table td {
  font-size: 0.9em;
  padding: 0.5em;
  vertical-align: top;
}

img {
  max-width: 100%;
}

a {
  word-break: break-all;
}

h1 {
  text-align: center;
}
